target/
storage/
*.log
*.class
*.jar
.idea/
*.iml
.DS_Store

instructions.md
example.md
requriments.txt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Flask instance (SQLite DB lives here)
instance/
*.db